---
layout: page
description: "PHP Senior Web Developer"
---

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
    <p class="post-meta">
        Yazan: {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} - 
        Tarih: {{ post.date | date: "%-d.%m.%Y" }}
        {% if post.tags.size > 0 %}
            {% capture tags_content %}
            - Kategoriler: 
            {% endcapture %}
            {% for post_tag in post.tags %}
                {% for data_tag in site.data.tags %}
                    {% if data_tag.slug == post_tag %}
                        {% assign tag = data_tag %}
                    {% endif %}
                {% endfor %}
                {% if tag %}
                    {% capture tags_content_temp %}{{ tags_content }}<a href="/tag/{{ tag.slug }}">{{ tag.name }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
                    {% assign tags_content = tags_content_temp %}
                {% endif %}
            {% endfor %}
        {% else %}
            {% assign tags_content = '' %}
        {% endif %}
        {{ tags_content }}
    </p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Yeni Yazılar</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Eski Yazılar &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
