<h3 class="sidebar-title">Popüler Depolarım</h3>
{% assign sorted_repos = (site.github.public_repositories | sort: 'stargazers_count') | reverse | where: "fork", "false" %}
{% for repo in sorted_repos | limit: site.side_bar_repo_limit %}
<div class="card text-center">
    <div class="thumbnail">
        <div class="card-image geopattern" data-pattern-id="{{ repo.name }}">
            <div class="card-image-cell">
                <h3 class="card-title">
                    <a href="{{ repo.html_url }}" target="_blank">{{ repo.name }}</a>
                </h3>
            </div>
        </div>
        <div class="caption">
            <div class="card-description">
                <p class="card-text">{{ repo.description }}</p>
            </div>
            <div class="card-text">
                <span data-toggle="tooltip" class="meta-info" title="{{ repo.stargazers_count }} yıldız">
                    <span class="octicon octicon-star"></span> {{ repo.stargazers_count }}
                </span>
                <span data-toggle="tooltip" class="meta-info" title="{{ repo.forks_count }} fork">
                    <span class="octicon octicon-git-branch"></span> {{ repo.forks_count }}
                </span>
                <span data-toggle="tooltip" class="meta-info" title="Son Güncellenme: {{ repo.updated_at }}">
                    <span class="octicon octicon-clock"></span>
                    <time datetime="{{ repo.updated_at }}" title="{{ repo.updated_at | date: '%d.%m.%Y - %R' }}">{{ repo.updated_at | date: "%d.%m.%Y - %R" }}</time>
                </span>
            </div>
        </div>
    </div>
</div>
{% endfor %}